a {
    text-decoration: none;
    width: 100%;
}

.lista {
    width: 50%;
}

.card {
    list-style: none;
    border: 1px solid green;
    border-radius: 10px;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    color: black;
}