@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

/* Estilos gerais */
.cabecalho { margin-bottom: 2rem; } /* Margem inferior para separar o cabeçalho */

a {
  text-decoration: none;
}


/* Menu de cabeçalho */
.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100%; /* Exibe o menu de forma centralizada */
}

/* Links de navegação */
.nav-links {
  display: flex;
  justify-content: center; /* Centraliza os links */
}

.nav-links .item-link {
  color: #1b7340; /* Cor do texto dos links */
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

/* Ícones e outros itens do cabeçalho */
.icones {
  list-style: none;
  margin: 0 10px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 10px; /* Alinha os ícones no centro */
}

.icon-menu { width: 20px; } /* Define o tamanho dos ícones */
.bandeira { width: 20%; } /* Define o tamanho da bandeira */
.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.img-logo { width: 60%; } /* Tamanho da imagem do logotipo */

/* Ícone de menu "burger" */
.burger {
  display: none; /* Inicialmente oculto */
  cursor: pointer;
}

.burger .linha1, .linha2, .linha3 {
  width: 25px;
  height: 3px;
  background-color: #1b7340;
  margin: 5px;
  transition: all 0.3s ease; /* Transição suave ao abrir o menu */
}

/* Responsividade para telas menores */
@media screen and (max-width: 1024px) {
  .nav-links { width: 60%; } /* Ajusta a largura dos links de navegação */
}

@media screen and (max-width: 768px) {
  .body-home { overflow-x: hidden; } /* Evita rolagem horizontal */
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 5vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in; /* Transição suave ao abrir */
    border-radius: 10px;
  }

  .nav-links .icones {
    /*opacity: 0;*/
    margin: 20px 0;
    justify-content: space-between; /* Organiza os ícones */
  }

  .burger { display: block; } /* Exibe o menu burger */
}

.nav-active { transform: translateX(0%); } /* Ativa o menu lateral */

/* Animação de fade dos links */
@keyframes navLinkFade {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0px); }
}

/* Transformação do ícone burger ao abrir o menu */
.toggle .linha1 { transform: rotate(-45deg) translate(-5px, 6px); }
.toggle .linha2 { opacity: 0; }
.toggle .linha3 { transform: rotate(45deg) translate(-5px, -6px); }


/*-------------------------------------------------------------------------------*/
/* Chatbot e responsividade */
@media screen and (min-width: 600px) {
  .container { display: flex; }
  .chat-container {
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
    bottom: 0;
    right: 0;
  }
}

#mensagem-input { font-size: 14px; } /* Fonte do input de mensagem */
#enviar-btn { width: 40px; font-size: 16px; } /* Botão de envio */

/* Geral */
p { font-family: "DM Sans", sans-serif; } /* Fonte do texto */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
}

/* Box de informação */
.box {
  display: flex;
  align-items: center;
  background-color: #eef7e8;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  color: #069e6e;
  text-align: center;
}

.box .pscan { margin: 0; flex: 1; font-family: "DM Sans", sans-serif; }

.img-box { width: 30px; height: auto; margin-left: 10px; } /* Imagem na box */

/* Seções de ideias, categorias e histórico */
.ideias, .catego, .histo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.ideias .pideias, .catego .pcatego {
  color: #069e6e;
  font-size: small;
  text-decoration: underline;
  font-family: "DM Sans", sans-serif;
}

.ideias .h3ideias, .ideias .pideias,
.catego .h3catego, .catego .pcatego,
.histo .h3histo {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

/* Grid para itens populares */
.populares {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}

@media (max-width: 480px) {
  .populares {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  height: 130px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.item .text { flex: 1; font-family: "DM Sans", sans-serif; }

.item .imgitem {
  width: 100px;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #d9d9d9;
  margin: 20px 0;
}

/* Ajuste de tamanho para as imagens dos lixos dentro do grid */
.rias {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 140px);
  grid-gap: 20px;
  width: 100%;
  max-width: 900px; /* Limita a largura total do grid */
  margin: 0 auto;
}

@media (max-width: 1024px) {
  
  .rias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Ajuste para centralizar imagem e parágrafo dentro do contêiner de cada item */
.lixo {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-direction: column; /* Coloca imagem e parágrafo em coluna */
  width: 100%;
  height: 100px;
  background-color: #eef7e8;
  border-radius: 10px;
  text-align: center; /* Centraliza o texto no contêiner */
}

.lixo img {
  width: auto;
  max-width: 80px;
  height: auto;
  max-height: 80px;
  object-fit: contain;
  margin-bottom: 5px; /* Espaço entre a imagem e o parágrafo */
}

.lixo p {
  margin: 0;
  font-size: 14px; /* Ajuste do tamanho da fonte para melhor exibição */
  color: #069e6e; /* Define uma cor para o texto */
}

.type-lixo {
  text-align: center;
}

/* Estilos de cor para ícones de lixo */
.red { background-color: rgba(255, 0, 0, 0.3); }
.blue { background-color: rgba(0, 0, 255, 0.3); }
.yellow { background-color: rgba(255, 255, 0, 0.3); }
.green { background-color: rgba(0, 128, 0, 0.3); }

/* Efeitos de hover */
.item .imgitem {
  transition: transform 0.3s ease; /* Animação suave */
}

/* .item .imgitem:hover { transform: scale(1.1); } Aumenta a imagem no hover */

.lixo .imglixo:hover { transform: scale(1.3); } /* Aumenta imagem de lixo no hover */

.hidden { display: none; }

/* Card flutuante de lixo */
#card-container {
  position: absolute; /* Usamos absolute para permitir que o card se mova para a posição desejada */
  transform: translateY(0); /* Remove o efeito de animação do translateY */
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  transition: all 0.3s ease-in-out; /* Transição suave */
}

/* Ajustes para telas pequenas */
@media (max-width: 600px) {
  #card-container {
    width: 45%; /* Aumenta a largura para telas menores */
    max-width: 40%; /* Reduz um pouco a largura máxima */
  }
}
/*estou vendo como fazer os pop-up do lixo fica dentro do grid do lixo*/

#close-card {
  background-color: #069e6e;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/*---------------------------CHAT-BOT----------------------------*/

.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00ff4c;
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.chatbot-icon:hover {
  background-color: #006631;
}

.chat-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  height: 400px;
}

.chat-container.active {
  display: flex;
}

.chat-header {
  background-color: #00ff4c;
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-header .chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-header .chat-title {
  font-size: 18px;
  font-weight: bold;
}

.chat-header .close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  background-image: url("/static/img/COP30.png");
  background-size: 100%;
  background-position: center;
}

.chat-message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 80%;
  display: flex;
  align-items: center;
}

.chat-message.user {
  background-color: #dcf8c6;
  align-self: flex-end;
  text-align: right;
}

.chat-message.bot {
  background-color: #00c3ff;
  align-self: flex-start;
  text-align: left;
}

.message-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.input-container {
  display: flex;
  border-top: 1px solid #006631;
  padding: 10px;
  background-color: #006631;
  border-radius: 10px;
}

#mensagem-input {
  flex: 1;
  padding: 10px;
  border: none;
  font-size: 16px;
  outline: none;
  border-radius: 20px;
}

#enviar-btn {
  width: 50px;
  border: none;
  background-color: #00ff4c;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 0 10px;
  border-radius: 50px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

#enviar-btn:hover {
  background-color: #006631;
}

.typing-indicator {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 80%;
  background-color: #00c3ff;
  align-self: flex-start;
  display: flex;
  align-items: center;
  text-align: left;
  opacity: 0.7;
  animation: fadeInOut 1.5s infinite ease-in-out;
}

.typing-indicator img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.typing-indicator span {
  font-style: italic;
  color: white;
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }
}

.botao-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.botao-container button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  outline: none;
}

.botao-container button:hover {
  background-color: #006631;
}

.botao-container button:focus {
  outline: none;
}

#botao-sim {
  background-color: #00ff4c;
  margin-right: 5px;
}

#botao-nao {
  background-color: #ff0000;
}

