/* Menu de cabeçalho */
.menu-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 100%; /* Exibe o menu de forma centralizada */
}

/* Links de navegação */
.nav-links {
  display: flex;
  justify-content: center; /* Centraliza os links */
}

.nav-links .item-link {
  color: #1b7340; /* Cor do texto dos links */
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

/* Ícones e outros itens do cabeçalho */
.icones {
  list-style: none;
  margin: 0 10px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 10px; /* Alinha os ícones no centro */
}

.icon-menu { width: 20px; } /* Define o tamanho dos ícones */
.bandeira { width: 20%; } /* Define o tamanho da bandeira */
.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.img-logo { width: 30%; } /* Tamanho da imagem do logotipo */

/* Ícone de menu "burger" */
.burger {
  display: none; /* Inicialmente oculto */
  cursor: pointer;
}

.burger .linha1, .linha2, .linha3 {
  width: 25px;
  height: 3px;
  background-color: #1b7340;
  margin: 5px;
  transition: all 0.3s ease; /* Transição suave ao abrir o menu */
}

/* Responsividade para telas menores */
@media screen and (max-width: 1024px) {
  .nav-links { width: 60%; } /* Ajusta a largura dos links de navegação */
}

@media screen and (max-width: 768px) {
  .body-home { overflow-x: hidden; } /* Evita rolagem horizontal */
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 5vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in; /* Transição suave ao abrir */
    border-radius: 10px;
  }

  .nav-links .icones {
    /*opacity: 0;*/
    margin: 20px 0;
    justify-content: space-between; /* Organiza os ícones */
  }

  .burger { display: block; } /* Exibe o menu burger */
}

.nav-active { transform: translateX(0%); } /* Ativa o menu lateral */

/* Animação de fade dos links */
@keyframes navLinkFade {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0px); }
}

/* Transformação do ícone burger ao abrir o menu */
.toggle .linha1 { transform: rotate(-45deg) translate(-5px, 6px); }
.toggle .linha2 { opacity: 0; }
.toggle .linha3 { transform: rotate(45deg) translate(-5px, -6px); }


/* ------------------------------------------ */
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}




/* Instruções */
.section-instructions {
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.travel-mode-select {
  margin-top: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
}

/* Mapa */
#map-container {
  width: 100%;
  height: 600px;
  padding: 8px ;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

/* Estilo do conteúdo do InfoWindow */
.info-window {
  font-family: Arial, sans-serif;
  color: #333;
  max-width: 250px;
  text-align: left;
}

.info-window h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #2a6a4f;
}

.info-window p {
  font-size: 14px;
  margin: 5px 0;
}

/* Centralizar o botão */
.info-window .button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.info-window button {
  padding: 8px 16px;
  background-color: #2a6a4f;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.info-window button:hover {
  background-color: #1e5039;
}

/* Estilo para a seção de horários de coleta */
.coleta-horarios {
  margin: 20px 0;
  padding: 20px;
  background-color: #f0f4f1;
  border-radius: 8px;
  color: #333;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.coleta-horarios h2 {
  font-size: 24px;
  color: #2a6a4f;
  text-align: center;
  margin-bottom: 15px;
}

/* Flexbox layout para exibir os blocos lado a lado */
.coleta-horarios-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.horario-bloco {
  flex: 1;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.2); /* Linha vertical opaca */
}

.horario-bloco:last-child {
  border-right: none; /* Remove a borda do último bloco */
}

.horario-bloco h3 {
  font-size: 18px;
  color: #2a6a4f;
  margin-bottom: 8px;
}

.horario-bloco p {
  font-size: 14px;
  margin: 4px 0;
  color: #333;
}

/* Responsividade para telas menores */
@media (max-width: 800px) {
  .coleta-horarios-container {
      flex-direction: column;
  }

  .horario-bloco {
      border-right: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Linha horizontal em telas menores */
      margin-bottom: 10px;
  }

  .horario-bloco:last-child {
      border-bottom: none;
  }
}


/* Rodapé */
footer {
  background-color: #2a6a4f;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links li a:hover {
  text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
  .navbar ul {
      flex-direction: column;
      align-items: center;
  }
  
  #map-container {
      height: 400px;
  }
  
  .site-title {
      font-size: 20px;
  }
}
