/* Definições globais */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6ffe6; /* Fundo verde claro */
  color: #004d00; /* Verde escuro */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container principal */
.container {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 90%;
  max-width: 600px;
}

/* Títulos */
h2,
h3 {
  color: #004d00;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Botões */
button {
  background-color: #008000; /* Verde médio */
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005900; /* Verde mais escuro */
}

#open-camera,
#switch-camera {
  margin-bottom: 20px;
}

/* Área da câmera */
#camera-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

video {
  width: 100%;
  border: 2px solid #008000;
  border-radius: 8px;
  max-width: 400px;
}

/* Estilização do formulário */
form {
  margin-top: 20px;
}

.file-label {
  display: inline-block;
  background-color: #004d00;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-label:hover {
  background-color: #003300; /* Cor mais escura ao passar o mouse */
}

#file-input {
  display: none;
}

/* Resultados */
#result {
  font-size: 18px;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #008000;
  border-radius: 8px;
  background-color: #f0fff0;
}

/* Seção de detalhes */
.details {
  font-size: 16px;
  color: #006600;
  margin-top: 20px;
}

/* Seção do histórico */
#history-container {
  margin-top: 30px;
  padding: 15px;
  border: 2px solid #008000;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.history-entry {
  background-color: #e6ffe6;
  border: 1px solid #006400;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.history-entry strong {
  color: #004d00;
}

.history-entry .counter {
  font-size: 14px;
  color: #006400;
}

.history-img {
  width: 100px;
  height: auto;
  border: 1px solid #008000;
  border-radius: 5px;
  margin-top: 10px;
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  h2,
  h3 {
    font-size: 20px;
  }

  button {
    font-size: 14px;
    padding: 10px 20px;
  }

  .file-label {
    font-size: 14px;
    padding: 10px 20px;
  }

  video {
    max-width: 300px;
  }

  #result {
    font-size: 16px;
  }

  .history-entry {
    padding: 10px;
  }
}
