/* Definições globais */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #e0f7fa, #e8f5e9); /* Azul claro ao verde claro */
  color: #003300;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Container principal */
.container {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 30px;
  width: 90%;
  max-width: 600px;
  border: 2px solid #00a896;
}

/* Títulos */
h2, h3 {
  color: #00796b;
  font-size: 26px;
  margin-bottom: 15px;
}

h2 {
  border-bottom: 2px solid #00a896;
  padding-bottom: 10px;
}

/* Botões */
button {
  background-color: #00796b; /* Verde azulado */
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button:hover {
  background-color: #004d40; /* Verde mais escuro */
  transform: scale(1.05);
}

#open-camera, #switch-camera {
  margin-bottom: 20px;
}

/* Área da câmera */
#camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#video {
  width: 100%;
  /* max-width: 600px; /* Opcional: limite máximo para o tamanho do vídeo */
  /* max-height: 600px; */
  height: 800px;
  border-radius: 10px; /* Estilo opcional */
  margin-bottom: 10px; /* Espaço entre o vídeo e o botão */
}

#capture-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Espaçamento acima do botão */
}

#capture {
  padding: 10px 20px;
  background-color: #00796b; /* Cor do botão */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#capture:hover {
  background-color: #00796b89; /* Cor ao passar o mouse */
}


/* Formulário */
form {
  margin-top: 20px;
}

.file-label {
  display: inline-block;
  background-color: #005662;
  color: white;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-label:hover {
  background-color: #003d47;
}

#file-input {
  display: none;
}

/* Resultados */
#result {
  font-size: 18px;
  margin: 20px 0;
  padding: 15px;
  border: 2px dashed #00a896;
  border-radius: 10px;
  background-color: #e8f5e9;
}

/* Histórico */
#history-container {
  margin-top: 30px;
  padding: 20px;
  border: 2px solid #00a896;
  border-radius: 10px;
  background-color: #edfffd;
}

.history-entry {
  background-color: #ddfbf8;
  border: 1px solid #00796b;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.history-entry strong {
  color: #003d47;
}

.history-entry .counter {
  font-size: 14px;
  color: #004d40;
}

.history-img {
  width: 30vh;
  height: auto;
  border: 2px solid #00a896;
  border-radius: 5px;
}

/* Detalhes */
.details {
  font-size: 16px;
  color: #004d40;
  margin-top: 20px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  h2, h3 {
    font-size: 22px;
  }

  button {
    font-size: 14px;
    padding: 10px 15px;
  }

  .file-label {
    font-size: 14px;
    padding: 10px 15px;
  }

  video {
    max-width: 400px;
  }

  .history-entry {
    padding: 10px;
  }

  .history-img {
    width: 50vh;
  }

}

@media screen and (max-width: 540px) {

  .history-img {
    width: 30vh;
  }

}