<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideias</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/ideias.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
</head>
<body>
    <h1>Ideias de Reciclagem:</h1>
    <ul class="lista">
    {% for ideia in ideias %}
        <a href="#">
            <li class="card">
                <h2 class="titulo">{{ ideia.titulo }}</h2>
                <em>{{ ideia.id_categ.nome_categ }}</em>
                <p class="conteudo">{{ ideia.resumo }}</p>
            </li>
        </a>
    {% endfor %}
    </ul>
    
</body>
</html>